[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]
psycopg2 = "*"
cython = "*"
falcon = "*"
gunicorn = "*"
bcrypt = "*"
gevent = "*"
apispec = "*"
marshmallow = "*"
falcon-apispec = "*"
falcon-swagger-ui = "*"
injector = "*"
pipenv-to-requirements = "*"
falcon-marshmallow = "*"
mongoengine = "*"
buslane = "*"

[dev-packages]
black = "==20.8b1"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
